
body {
  padding: 0;
  margin: 0;
  background-image: url('./img/alfons-morales-YLSwjSy7stw-unsplash.jpg');
  background-repeat:repeat-y;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  height: 1000px;
}

.close-modal {
  display: none;
}

.form-container {
  width: 300px;
  background-color: rgba(255, 255, 255, 0.444);
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.add-book-text {
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  text-align: center;
  font-weight: 800;
}

.add-book-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.add-book-mobile {
  display: none;
}

.form-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.635);
  border: 2px solid rgba(152, 86, 15, 0.428);
  width: 255px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-add {
  font-family: 'Libre Baskerville', serif;
  width: 110px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: white;
  background: linear-gradient(to top, #c79081 0%, #dfa579 100%);
  cursor: pointer;
  margin-top: 20px;
}

.title-book-add,
.author-book-add,
.pages-book-add {
  width: 100%;
  padding: 15px 0 5px 0;
  background-color: var(--cream);
  border: none;
  border-bottom: 2px dotted;
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
}

.book-information-container {
  display: flex;
  flex-direction: row;
  background-color: #c79081;
  gap: 15px;
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  margin-top: 0;
  border: 1px solid black;
}

.library-title {
  background-color: rgba(0, 0, 0, 0.668);
  color: rgba(255, 255, 255, 0.789);
  font-size: 35px;
  font-family: 'Libre Baskerville', serif;
  margin: 0;
  padding: 50px;
  width: 100%;
}

.book-information {
  width: 250px;
  font-size: 15px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.library {
  display: flex;
  flex-direction: column;
  background-color: rgba(250, 235, 215, 0.97);
  border: 2px solid brown;
}

.book-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px 10px 10px;
}

.book-wrapper:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.909);
}

.checkbox-label {
  font-family: 'Libre Baskerville', serif;
  font-size: 15px;
}

.checkbox-wrapper {
  margin-top: 20px;
}

.checkbox-input {
  background-color: #c79081;
}

#info-book {
  width: 280px;
  padding-left: 20px;
}

.read {
  background: linear-gradient(114.3deg, rgb(19, 126, 57) 0.2%, rgb(8, 65, 91) 68.5%);
  color: white;
  border-radius: 5px;
  border: 2px solid rgb(13, 6, 6);
  padding: 10px;
  width: 50px;
}

#pages {
  width: 200px;
}

.remove-btn {
  font-size: 20px;
  border: none;
  background: none;
  color: rgb(163, 7, 7);
  cursor: pointer;
  padding-left: 5px;
}

#readornot {
  width: 150px;
}

#read {
  width: 200px;
}

.delete-info {
  width: 100px;
  padding-top: 12px;
  color: rgb(111, 3, 3);
}

.error-message {
  display: none;
  background-color: rgba(180, 78, 78, 0.883);
  padding: 10px;
  color: white;
  border-radius: 1px;
}

.success-message {
  display: none;
  background-color: rgba(83, 78, 180, 0.883);
  padding: 10px;
  color: white;
  border-radius: 1px;
}

@media only screen and (max-width: 545px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-container {
    display: none;
  }

  .library-title {
    width: 280px;
    font-size: 20px;
    padding: 40px 20px 40px 20px;
    text-align: center;
    line-height: 30px;
  }

  .book-information-container {
    gap: 0;
    width: 318px;
  }

  .book-information {
    width: 100px;
    font-size: 10px;
    height: 50px;
  }

  #info-book {
    width: 100px;
    padding: 0;
    padding-left: 20px;
    font-size: 12px;
  }

  .read {
    padding: 6px;
    width: 26px;
    font-size: 10px;
  }

  .not-read {
    font-size: 12px;
    width: 30px;
  }

  .library {
    width: 315px;
  }

  .delete-info {
    width: 50px;
  }

  #readornot {
    width: 50px;
  }

  #read {
    width: 80px;
  }

  footer {
    padding: 30px 10px 30px 10px;
  }

  .remove-btn {
    padding-left: 15px;
  }

  .add-book-mobile {
    display: block;
    position: fixed;
    top: 2px;
    left: 2px;
    width: 50px;
    height: 50px;
    background: rgb(255, 255, 255);
    color: #da9663;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    font-size: 12px;
  }

  #pages {
    display: none;
  }

  .book-pages {
    display: none;
  }

  .close-modal {
    display: flex;
    color: #3b2a26;
    font-size: 20px;
    background: none;
    border: 1px solid #da9663;
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
  }

  @media only screen and (min-width: 375px) {
    #pages {
      display: flex;
      width: 70px;
    }

    .book-pages {
      display: flex;
      width: 80px;
      font-size: 12px;
      padding-left: 10px;
    }

    .library {
      width: 370px;
    }

    .book-information-container {
      width: 372px;
    }

    .library-title {
      width: 345px;
      padding-top: 60px;
    }

    #readornot {
      width: 50px;
    }

    #info-book {
      width: 110px;
    }

    .book-information {
      width: 115px;
    }
  }
}

@media only screen and (min-width: 540px) and (max-width: 768px) {
  .library-title {
    width: 500px;
    font-size: 20px;
  }

  .form-container {
    width: 200px;
  }

  .add-book-text {
    font-size: 18px;
  }

  .book-information-container {
    width: 570px;
  }

  .form-wrapper {
    width: 200px;
  }

  .library {
    width: 570px;
  }

  #pages {
    font-size: 15px;
    width: 70px;
    padding-left: 10px;
  }

  .book-pages {
    display: flex;
    width: 80px;
    font-size: 12px;
  }

  #readornot {
    width: 100px;
  }

  #info-book {
    width: 120px;
  }

  .book-information {
    width: 170px;
  }

  #read {
    width: 130px;
  }

  .delete-info {
    width: 100px;
  }
}
